@mixin light-text($size) {
    font-weight: 300;
    font-size: $size;
}

@mixin regular-text($size) {
    font-weight: 400;
    font-size: $size;
}

@mixin medium-text($size) {
    font-weight: 500;
    font-size: $size;
}

@mixin semibold-text($size) {
    font-weight: 600;
    font-size: $size;
}

@mixin bold-text($size) {
    font-weight: 700;
    font-size: $size;
}

@mixin image-hover-zoom($scale: 1, $transition: 0.3s) {
      transition: transform $transition ease-in-out;
      &:hover {
        transform: scale($scale);
      }
}